 .main-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
 }

 .contenedor-instruciones{
   width: 10%;
   height: 50%;
   margin-top: 15rem;
   text-align: justify;
   .instruciones{
   width: 100%;
   border: 2px solid black;
   border-radius: 0.5rem;
   p{
      text-align: center;
   }
 }
}