.contenedor-dialogo{
        background-color: rgba(102, 95, 95, 0.5);
        width: 100vw;
        height:100vh;
        position: sticky;
        top:0;
        left:0;
        
        display: none;
        z-index: 100;

        div.contenido{
            width: 40vw;
            height: 70vh;
            padding: 1.5rem;
            border-radius: 10px;
            background-color: rgb(155, 215, 247);
            position: absolute;
            left: 30%;
            top: 10%;
            display: none;

            button.cerrar{
                position: absolute;
                left: 90%;
                padding: 0.5rem;

            }
        }
        
    }