.modal {
    background-color: rgba(102, 95, 95, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 30;
    display: block;
    z-index: 100;

    div.contenido {
        width: 40vw;
        text-align: center;
        height: 70vh;
        padding: 1.5rem;
        border-radius: var(--border-radius);
        background-color: var(--color-modal);
        border: 2px solid black;
        position: absolute;
        left: 30%;
        top: 10%;
        margin: 1rem;


        .box-select {
            display: block;
            padding: 0.5rem;
            margin: 0.5rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
            }

        }

        button.cerrar {
            position: absolute;
            left: 90%;
            padding: 0.5rem;
            background-color: var(--color-botones);
            border: 2px solid black;
            border-radius: var(--border-radius);
            cursor: pointer;
        }

        .formulario-modal {
            padding: 1rem;
            text-align: left;

            .grupo-input {
                padding: 1.5rem;

                label {
                    display: block;
                    margin-bottom: 0.5rem;
                }

                input {
                    display: block;
                    width: 100%;
                    padding: 0.8rem;
                    border: 2px solid black;
                    border-radius: var(--border-radius);
                    box-sizing: border-box;
                }
            }



            button {
                display: block;
                margin: 2rem auto 0;
                padding: 0.8rem 2.5rem;
                background-color: var(--color-botones);
                border: 2px solid black;
                border-radius: var(--border-radius);
                cursor: pointer;
            }

            input {
                margin: 0.5rem;
            }
        }

        .partes-simulador {
            position: relative;
            text-align: center;

            .lateral-izq {
                position: absolute;
                top: 1rem;
                padding: 0.5rem;

                .caja {
                    padding: 1rem;
                    border: 2px solid black;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    $numeros:"";
                    @for $i from 0 through 5 {
                        $numeros:$numeros+"#{$i*1}\A";
                    }
                    &::after {
                        content: $numeros;
                            display: block; // le indicamos que ocupe el ancho del padre
                            overflow: hidden; // le indicamos que NO sobresalga de la caja
                            white-space: pre; // le indicamos que respete los espacios en blanco y salts de linea que tenemos en el content
                        }
                }

            }

            .centro {
                position: absolute;
                padding: 0.5rem;
                top: 3rem;
                left: 40%;
    
                .input{
                    label{
                        display: block;
                    }
                }
                
            
            }

            .lateral-drch {
                position: absolute;
                right: 1%;
                padding: 0.5rem;
                top: 1rem;

                .caja {
                    padding: 1rem;
                    border: 2px solid black;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}