.navigation {
  list-style: none;
  margin: 0;
  background:var(--color-navBar) ;
  display: flex;
  
  justify-content: space-around;

}

/* Formato del botón */
.navigation li {
  background:var(--color-botones);
  margin-top: 10px;
  padding: 1em;
  color: rgb(0, 0, 0);

  text-align: center;
  border-radius: 0.5rem;
  border: 0.1em solid black;
  margin: 0.5rem;
  transition: all 0.3s ease;

  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: var(--color-hover);
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}