@use "_variables"as *;


.contenedor-particiones {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

// en mi memoria le tooltip o en el contenedor de memoria
.mi_memoria {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 0.5rem;
  background-color: coral;
  border-radius: 10px;
  border: 2px solid black;
  //width: var(--size_memmory);
  padding: 1rem;

  .pestaña-lateral{
    position: absolute;
    right:-60px;
    width: 40px;
    border-radius: 0.2rem;
    border: 2px solid black;
    background-color: aquamarine;
    padding: 0.5rem;
    writing-mode: vertical-rl;
    display: flex;
    
  }
  .particion {
    border: rgb(20, 20, 20) solid 2px;
    width: 100%;
    border-radius: 8px;
    background-color: lightyellow;
    overflow: hidden; //evito el desbordamiento de la caja de particion 
    
    flex-direction: column;
    flex-grow: 1;
    
    .info-izq {
      position: absolute;
      left: 0.2rem;
      display: flex;
      justify-content: space-around;
      //flex-direction: column;
      .numero-direccion {
        position: absolute;
        z-index:2;
      }
        
    }

    .nombre-proceso {
      font-weight: bold;
      font-size: 1.1rem;
      text-align: center;
      padding: 1rem;
    }

    @each $name,
    $size in $sizes {
      &.#{$name} {
        position: relative;
        height:calc(#{$size}*1.5rem);

        &::after {
          content:"#{ $size * 1.5 }MB";
          position: absolute;
          padding: 0.2rem;
          right: 0.2rem;
          top: 0rem;
          font-size: 0.8rem;
        }

      }

    }
    &::after{
        position: relative;
        right:-190px;
        width: 40px;
        border-radius: 0.2rem;
        border: 2px solid black;
        background-color: aquamarine;
        padding: 0.5rem;
        writing-mode: vertical-rl;
        
      }
  }

} 

