@use "_variables" as *;


.contenedor-columna {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.mi_memoria {
  display: flex;
  flex-wrap: wrap;

  row-gap: 0.5rem;
  background-color: coral;
  border-radius: 10px;
  border: 2px solid black;
  //width: var(--size_memmory);
  padding: 1rem;

  .particion {
    border: grey solid 2px;
    width: 100%;
    border-radius: 8px;
    background-color: lightyellow;

    @each $name,
    $size in $sizes {
    &.#{$name} {
      position: relative;
      height:calc(#{$size}*1.5rem);

      &::after {
        content:"#{ $size * 1.5 }MB";
        position: absolute;
        padding: 0.2rem;
        right: 0.2rem;
        top: 0.2rem;
        font-size: 0.8rem;
      }

    }
  }
  }

  
}

