@use "_variables"as *;


.contenedor-procesos {
    width: var(--size_memmory);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
}

// en mi memoria le tooltip o en el contenedor de memoria
.procesos_preparados {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.5rem;
    background-color: rgba(122, 122, 122, 0.459);
    border-radius: 10px;
    border: 5px dashed black;
    //width: var(--size_memmory);
    padding: 2rem;

    .button-container {
        display: flex;
        justify-content: center;
    }


    .button {
        border-radius: 0.5rem;
        border: none;
        background-color: rgb(175, 240, 224);
        width: 40px;
        height: 40px;
        margin-top: 15rem;
    }

    button:hover {
        background-color: rgb(108, 146, 137);

    }


    .proceso {
        display: flex;
        align-items: center;
        position: relative;
        border: rgb(20, 20, 20) solid 2px;
        width: 100%;
        border-radius: 8px;
        background-color: rgb(223, 250, 205);


        .info-izq {
            display: flex;
            flex-direction: column;
            margin: 0.2rem;
            font-size: 1rem;
            padding: 0.2rem;
        }


        .nombre-proceso {
            flex: 1;
            text-align: center;
            font-weight: bold;
            font-size: 1.1rem;
            text-align: center;

        }

        @each $name,
        $size in $sizes {
            &.#{$name} {
                position: relative;
                flex: $size;

                &::after {
                    content:"#{ $size * 1.5 }MB";
                    position: absolute;
                    padding: 0.3rem;
                    right: 0.2rem;
                    top: 0.2rem;
                    text-align: center;
                    font-size: 0.8rem;
                }

            }

        }
    }

}