@use "_variables"as *;


.contenedor-procesos {
    width: var(--size_memmory);
    margin: 0.5rem;
    padding: 0.5rem;
}

// en mi memoria le tooltip o en el contenedor de memoria
.procesos_preparados {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    row-gap: 0.5rem;
    background-color: var(--color-contenedor);
    border-radius: var(--border-radius);
    border: 5px dashed black;
    //width: var(--size_memmory);
    padding: 2rem;


    .button-container {
        text-align: center;
        width: 100%;
    }


    .button {
        border-radius:var(--border-radius);
        border:rgb(20, 20, 20) solid 2px;
        background-color: var(--color-botones);
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;

    }

    button:hover {
        background-color:var(--color-hover);
        transform: scale(1.1);
    }

}

.proceso {
    align-items: center;
    border: rgb(20, 20, 20) solid 2px;
    width: 100%;
    border-radius:var(--border-radius);;
    background-color: var(--color-proceso);



    @each $name,
    $size in $sizes {
        &.#{$name} {
            position: relative;
            height:calc(#{$size}*$min_h_process);

            >.info-izq {
                position: relative;
                top: 0;
                width: 5rem;
                
                float: left;

                span{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    font-size: 0.8rem;
                    background-color: var(--color-proceso);
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    margin-bottom: 0.2rem;

                    &::after {
                        content: "#{ $size * 32768}";
                    }

                }

                &::after {
                    content: "0\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...\A...";
                    display: block;
                    height:calc(#{$size}*$min_h_process - 0.5rem);
                    overflow: hidden;
                    white-space: pre;
                    padding: 0.2rem;
                    font-size: 0.8rem;
                }


            }

            .nombre-proceso{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            
                p{
                    text-align: center;
                }
                
            }

            &::after {
                content:"#{ $size * 1}MB";
                position: absolute;
                padding: 0.2rem;
                right: 0.2rem;
                top: 0rem;
                font-size: 0.8rem;
            }
        }
    }

}