.tooltip {
    position: relative;
    
}

/* POSICIONAMINENTO TOOLTIP */
.tooltip .tooltiptext_arriba {
    /*  visibility: hidden;
    width: 160px;
    background-color:var(--color-toltip);
    color: #0f0f0f;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    position: absolute;
    top: 50%;
    left: 105%;

    margin-top: -15px;
    opacity: 0;
    transition: opacity 0.3s; */

    visibility:hidden;
    background-color:var(--color-toltip);
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 32%;
    margin-left: -60px;
    top: 100%;
    width: 80%;
    opacity: 0;
    transition: opacity 0.3s;
}


/*-- Punta del bocadillo */
.tooltip .tooltiptext_arriba::after {
    /* content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent  transparent transparent; */
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    //.             Orden: TOP, RIGHT, BOTTOM, LEFT
    border-color: transparent  transparent var(--color-toltip) transparent;

}
/*-- Disparador del tooltip*/
.tooltip:hover .tooltiptext_arriba {
    visibility: visible;
    opacity: 1;
} 