@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap");
:root {
  --size_memmory:30%;
  --color-botones: rgb(221, 253, 211);
  --color-navBar:rgb(215, 246, 255);
  --color-hover:rgb(154, 192, 164);
  --border-radius:0.5rem;
  --border:1px;
  --color-contenedor:rgba(185, 185, 185, 0.679);
  --color-proceso:rgb(171, 208, 145);
  --color-particion:rgb(252, 252, 174);
  --color-proceso-add:rgb(255, 157, 0);
  --color-toltip:rgb(188, 250, 64);
  --color-modal:rgb(165, 203, 223);
}

.container-tour {
  background-color: rgba(102, 95, 95, 0.5);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 100;
}
.container-tour .instruciones {
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  background-color: aliceblue;
  padding: 1rem;
}
.container-tour #instrucion-1 {
  top: 50px;
  left: 20px;
}

.navigation {
  list-style: none;
  margin: 0;
  background: var(--color-navBar);
  display: flex;
  justify-content: space-around;
}

/* Formato del botón */
.navigation li {
  background: var(--color-botones);
  margin-top: 10px;
  padding: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1em solid black;
  margin: 0.5rem;
  transition: all 0.3s ease;
}
.navigation li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}
.navigation li:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contenedor-dialogo {
  background-color: rgba(102, 95, 95, 0.5);
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}
.contenedor-dialogo div.contenido {
  width: 40vw;
  text-align: center;
  height: 70vh;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--color-modal);
  border: 2px solid black;
  position: absolute;
  left: 30%;
  top: 10%;
  margin: 1rem;
}
.contenedor-dialogo div.contenido .box-select {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}
.contenedor-dialogo div.contenido .box-select label {
  display: block;
  margin-bottom: 0.5rem;
}
.contenedor-dialogo div.contenido button.cerrar {
  position: absolute;
  left: 90%;
  padding: 0.5rem;
  background-color: var(--color-botones);
  border: 2px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.contenedor-dialogo div.contenido .formulario-modal {
  padding: 1rem;
  text-align: left;
}
.contenedor-dialogo div.contenido .formulario-modal .grupo-input {
  padding: 1.5rem;
}
.contenedor-dialogo div.contenido .formulario-modal .grupo-input label {
  display: block;
  margin-bottom: 0.5rem;
}
.contenedor-dialogo div.contenido .formulario-modal .grupo-input input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 2px solid black;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.contenedor-dialogo div.contenido .formulario-modal button {
  display: block;
  margin: 2rem auto 0;
  padding: 0.8rem 2.5rem;
  background-color: var(--color-botones);
  border: 2px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  position: relative;
}

.titulo {
  text-align: center;
  padding: 1rem;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext_derecha {
  visibility: hidden;
  width: 160px;
  background-color: var(--color-toltip);
  color: #0f0f0f;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 105%;
  margin-top: -15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext_derecha::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--color-toltip) transparent transparent;
}

.tooltip:hover .tooltiptext_derecha {
  visibility: visible;
  opacity: 1;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.5rem;
}

.contenedor-instruciones {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 5rem;
  font-size: 10pt;
}
.contenedor-instruciones .instruciones {
  width: 100%;
  text-align: center;
}
.contenedor-instruciones .instruciones span {
  width: 5rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.container-algoritmos {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-algoritmos .container-datos {
  padding: 2rem;
  position: relative;
  left: 10rem;
}
.container-algoritmos .container-algoritmos {
  padding: 2rem;
}

.contenedor-procesos {
  width: var(--size_memmory);
  margin: 0.5rem;
  padding: 0.5rem;
}

.procesos_preparados {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 0.5rem;
  background-color: var(--color-contenedor);
  border-radius: var(--border-radius);
  border: 5px dashed black;
  padding: 2rem;
}
.procesos_preparados .button-container {
  text-align: center;
  width: 100%;
}
.procesos_preparados .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.procesos_preparados button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}

.proceso {
  align-items: center;
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-proceso);
}
.proceso.size1 {
  position: relative;
  height: calc(1 * 50px);
}
.proceso.size1 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size1 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size1 > .info-izq span::after {
  content: "32768";
}
.proceso.size1 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(1 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size1 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size1 .nombre-proceso p {
  text-align: center;
}
.proceso.size1::after {
  content: "1MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size2 {
  position: relative;
  height: calc(2 * 50px);
}
.proceso.size2 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size2 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size2 > .info-izq span::after {
  content: "65536";
}
.proceso.size2 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(2 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size2 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size2 .nombre-proceso p {
  text-align: center;
}
.proceso.size2::after {
  content: "2MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size3 {
  position: relative;
  height: calc(3 * 50px);
}
.proceso.size3 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size3 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size3 > .info-izq span::after {
  content: "98304";
}
.proceso.size3 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(3 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size3 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size3 .nombre-proceso p {
  text-align: center;
}
.proceso.size3::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size4 {
  position: relative;
  height: calc(4 * 50px);
}
.proceso.size4 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size4 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size4 > .info-izq span::after {
  content: "131072";
}
.proceso.size4 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(4 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size4 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size4 .nombre-proceso p {
  text-align: center;
}
.proceso.size4::after {
  content: "4MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size5 {
  position: relative;
  height: calc(5 * 50px);
}
.proceso.size5 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size5 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size5 > .info-izq span::after {
  content: "163840";
}
.proceso.size5 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(5 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size5 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size5 .nombre-proceso p {
  text-align: center;
}
.proceso.size5::after {
  content: "5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}

.contenedor-particiones {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.mi_memoria {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5rem;
  background-color: var(--color-contenedor);
  border-radius: var(--border-radius);
  border: 2px solid black;
  padding: 2rem;
  padding-left: 4rem;
}
.mi_memoria .proceso {
  border-color: var(--color-proceso-add);
}
.mi_memoria .button-container {
  text-align: center;
  width: 100%;
}
.mi_memoria .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.mi_memoria button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}
.mi_memoria .particion {
  position: relative;
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-particion);
}
.mi_memoria .particion .nombre-proceso {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.mi_memoria .particion.size1 {
  position: relative;
  height: calc(1 * 50px);
}
.mi_memoria .particion.size1 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: 0.5rem;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size1 .pestana-derecha::after {
  content: "1MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.5rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size1 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size1 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size1 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
}
.mi_memoria .particion.size1 > .info-izq span::after {
  content: "32768";
}
.mi_memoria .particion.size1 > .info-izq::after {
  content: "0 \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... ";
  display: block;
  height: calc(1 * 50px);
  overflow: hidden;
  white-space: pre;
}
.mi_memoria .particion.size2 {
  position: relative;
  height: calc(2 * 50px);
}
.mi_memoria .particion.size2 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: 0.5rem;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size2 .pestana-derecha::after {
  content: "2MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.5rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size2 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size2 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size2 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
}
.mi_memoria .particion.size2 > .info-izq span::after {
  content: "65536";
}
.mi_memoria .particion.size2 > .info-izq::after {
  content: "0 \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... ";
  display: block;
  height: calc(2 * 50px);
  overflow: hidden;
  white-space: pre;
}
.mi_memoria .particion.size3 {
  position: relative;
  height: calc(3 * 50px);
}
.mi_memoria .particion.size3 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: 0.5rem;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size3 .pestana-derecha::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.5rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size3 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size3 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size3 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
}
.mi_memoria .particion.size3 > .info-izq span::after {
  content: "98304";
}
.mi_memoria .particion.size3 > .info-izq::after {
  content: "0 \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... ";
  display: block;
  height: calc(3 * 50px);
  overflow: hidden;
  white-space: pre;
}
.mi_memoria .particion.size4 {
  position: relative;
  height: calc(4 * 50px);
}
.mi_memoria .particion.size4 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: 0.5rem;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size4 .pestana-derecha::after {
  content: "4MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.5rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size4 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size4 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size4 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
}
.mi_memoria .particion.size4 > .info-izq span::after {
  content: "131072";
}
.mi_memoria .particion.size4 > .info-izq::after {
  content: "0 \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... ";
  display: block;
  height: calc(4 * 50px);
  overflow: hidden;
  white-space: pre;
}
.mi_memoria .particion.size5 {
  position: relative;
  height: calc(5 * 50px);
}
.mi_memoria .particion.size5 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: 0.5rem;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size5 .pestana-derecha::after {
  content: "5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.5rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size5 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size5 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size5 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
}
.mi_memoria .particion.size5 > .info-izq span::after {
  content: "163840";
}
.mi_memoria .particion.size5 > .info-izq::after {
  content: "0 \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... \a... ";
  display: block;
  height: calc(5 * 50px);
  overflow: hidden;
  white-space: pre;
}

table.algoritmo {
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 1rem;
}
table.algoritmo th, table.algoritmo td {
  margin: 0;
  padding: 0.5rem;
  width: 2rem;
  border: 2px solid black;
  text-align: center;
}
table.algoritmo tr {
  padding: 0;
}

table.datos {
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
  font-size: 1rem;
}
table.datos th, table.datos td {
  margin: 0;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  text-align: center;
}
table.datos tr {
  padding: 0;
}

@keyframes entrada {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.alerta {
  padding: 2rem;
  margin: 2rem;
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: aqua;
  border: 2px solid;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 300;
  transform: scale(0);
}

.alerta-animacion {
  animation-name: entrada;
  animation-duration: 4s;
}/*# sourceMappingURL=mis_estilos.css.map */