@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap");
:root {
  --size_memmory:30%;
  --color-botones: rgb(221, 253, 211);
  --color-navBar:rgb(215, 246, 255);
  --color-hover:rgb(154, 192, 164);
  --border-radius:0.5rem;
  --border:1px;
  --color-contenedor:rgb(185, 185, 185);
  --color-proceso:rgb(171, 208, 145);
  --color-particion:rgb(252, 252, 174);
  --color-proceso-add:rgb(255, 157, 0);
  --color-toltip:rgb(188, 250, 64);
  --color-modal:rgb(165, 203, 223);
}

@keyframes entrada {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes aparecer {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  70% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.pop {
  animation-name: pop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  /*  25%{
       transform: scale(1.02);
   }

   75%{
       transform: scale(1.06);
   } */
  100% {
    transform: scale(1);
  }
}
.animacion-click {
  animation-name: click;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  display: none;
}

@keyframes drag-animation {
  0% {
    left: 0px;
    bottom: 0px;
  }
  80% {
    left: 525px;
    bottom: 200px;
  }
  100% {
    left: 900px;
    bottom: 100px;
  }
}
.container-animacion {
  z-index: 100;
  display: none;
  animation-name: drag-animation;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.container-tour {
  background-color: rgba(102, 95, 95, 0.5);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 100;
}
.container-tour .cerrar {
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0.5rem;
  font-size: 14pt;
}
.container-tour .instruciones {
  border: 2px solid black;
  border-radius: var(--border-radius);
  display: inline-block;
  position: absolute;
  background-color: aliceblue;
  max-width: 400px;
  min-width: 200px;
  text-align: justify;
  padding: 1rem;
  display: none;
  transform: scale(0);
  animation-name: aparecer;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.container-tour .instruciones span {
  display: block;
  position: absolute;
  left: -1.5rem;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  text-align: center;
  border: 2px solid black;
  line-height: 1.75rem;
  background-color: rgb(253, 253, 23);
}
.container-tour .instruciones span.arriba {
  transform: rotate(90deg);
  left: 45%;
  top: -1rem;
}
.container-tour .instruciones span.derecha {
  transform: rotate(180deg);
  left: 95%;
  top: 35%;
}
.container-tour .instruciones span.abajo {
  transform: rotate(-90deg);
  bottom: -1rem;
  left: 45%;
}
.container-tour .instruciones span.izquierda {
  right: 95%;
  top: 35%;
}
.container-tour .instruciones p {
  padding-top: 1rem;
}
.container-tour .instruciones div {
  text-align: right;
  padding-top: 1rem;
}
.container-tour .instruciones div button {
  bottom: 0.2rem;
  right: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.container-tour #instrucion-1 {
  top: 50px;
  left: 5rem;
  display: block;
}
.container-tour #instrucion-2 {
  top: 620px;
  left: 5rem;
}
.container-tour #instrucion-3 {
  top: 350px;
  left: 5rem;
}
.container-tour #instrucion-4 {
  top: 50px;
  right: 5rem;
}
.container-tour #instrucion-5 {
  top: 620px;
  right: 5rem;
}
.container-tour #instrucion-6 {
  top: 350px;
  right: 5rem;
}
.container-tour #instrucion-7 {
  top: 620px;
  left: 550px;
}
.container-tour #instrucion-8 {
  top: 570px;
  right: 100px;
}
.container-tour #instrucion-9 {
  left: 200px;
  top: 300px;
}

.navigation {
  list-style: none;
  margin: 0;
  background: var(--color-navBar);
  display: flex;
  justify-content: space-around;
}

/* Formato del botón */
.navigation li {
  background: var(--color-botones);
  margin-top: 10px;
  padding: 1em;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1em solid black;
  margin: 0.5rem;
  transition: all 0.3s ease;
}
.navigation li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}
.navigation li:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal {
  background-color: rgba(102, 95, 95, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 30;
  display: none;
  z-index: 100;
}
.modal div.contenido {
  width: 40vw;
  text-align: center;
  height: 70vh;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--color-modal);
  border: 2px solid black;
  position: absolute;
  left: 30%;
  top: 10%;
  margin: 1rem;
}
.modal div.contenido .box-select {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}
.modal div.contenido .box-select label {
  display: block;
  margin-bottom: 0.5rem;
}
.modal div.contenido button.cerrar {
  position: absolute;
  left: 90%;
  padding: 0.5rem;
  background-color: var(--color-botones);
  border: 2px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.modal div.contenido .formulario-modal {
  padding: 1rem;
  text-align: left;
}
.modal div.contenido .formulario-modal .grupo-input {
  padding: 1.5rem;
}
.modal div.contenido .formulario-modal .grupo-input label {
  display: block;
  margin-bottom: 0.5rem;
}
.modal div.contenido .formulario-modal .grupo-input input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 2px solid black;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.modal div.contenido .formulario-modal button {
  display: block;
  margin: 2rem auto 0;
  padding: 0.8rem 2.5rem;
  background-color: var(--color-botones);
  border: 2px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.modal div.contenido .formulario-modal input {
  margin: 0.5rem;
}
.modal div.contenido table {
  position: absolute;
  top: 10rem;
  left: 10rem;
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
  font-size: 1rem;
}
.modal div.contenido table th,
.modal div.contenido table td {
  margin: 0;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 2px solid black;
  text-align: center;
}
.modal div.contenido table tr {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  position: relative;
}

.titulo {
  text-align: center;
  padding: 1rem;
}

.tooltip {
  position: relative;
}

/* POSICIONAMINENTO TOOLTIP */
.tooltip .tooltiptext_arriba {
  /*  visibility: hidden;
  width: 160px;
  background-color:var(--color-toltip);
  color: #0f0f0f;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  top: 50%;
  left: 105%;

  margin-top: -15px;
  opacity: 0;
  transition: opacity 0.3s; */
  visibility: hidden;
  background-color: var(--color-toltip);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 32%;
  margin-left: -60px;
  top: 100%;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s;
}

/*-- Punta del bocadillo */
.tooltip .tooltiptext_arriba::after {
  /* content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent  transparent transparent; */
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--color-toltip) transparent;
}

/*-- Disparador del tooltip*/
.tooltip:hover .tooltiptext_arriba {
  visibility: visible;
  opacity: 1;
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding: 0rem 1.5rem;
}
.main-container .contenedor-instruciones {
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 5rem;
  font-size: 10pt;
}
.main-container .contenedor-instruciones .instruciones {
  width: 100%;
  text-align: center;
}
.main-container .contenedor-instruciones .instruciones span {
  width: 5rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.main-container .contenedor-instruciones .button-container {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.main-container .contenedor-instruciones .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 50%;
  height: 40px;
  transition: all 0.3s ease;
}
.main-container .contenedor-instruciones button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}

.contenedor-procesos {
  width: var(--size_memmory);
  margin: 1rem;
  padding: 1rem;
}
.contenedor-procesos .button-container {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.contenedor-procesos .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.contenedor-procesos button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}
.contenedor-procesos .fondo {
  background-color: var(--color-contenedor);
  border-radius: var(--border-radius);
  border: 2px solid black;
}

.procesos_preparados {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 0.5rem;
  padding: 2rem;
}

.proceso {
  align-items: center;
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-proceso);
}
.proceso.size1 {
  position: relative;
  height: calc(1 * 50px);
}
.proceso.size1 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size1 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size1 > .info-izq span::after {
  content: "32768";
}
.proceso.size1 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(1 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size1 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size1 .nombre-proceso p {
  text-align: center;
}
.proceso.size1::after {
  content: "1MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size2 {
  position: relative;
  height: calc(2 * 50px);
}
.proceso.size2 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size2 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size2 > .info-izq span::after {
  content: "65536";
}
.proceso.size2 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(2 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size2 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size2 .nombre-proceso p {
  text-align: center;
}
.proceso.size2::after {
  content: "2MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size3 {
  position: relative;
  height: calc(3 * 50px);
}
.proceso.size3 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size3 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size3 > .info-izq span::after {
  content: "98304";
}
.proceso.size3 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(3 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size3 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size3 .nombre-proceso p {
  text-align: center;
}
.proceso.size3::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size4 {
  position: relative;
  height: calc(4 * 50px);
}
.proceso.size4 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size4 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size4 > .info-izq span::after {
  content: "131072";
}
.proceso.size4 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(4 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size4 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size4 .nombre-proceso p {
  text-align: center;
}
.proceso.size4::after {
  content: "4MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.proceso.size5 {
  position: relative;
  height: calc(5 * 50px);
}
.proceso.size5 > .info-izq {
  position: relative;
  top: 0;
  width: 5rem;
  float: left;
}
.proceso.size5 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-proceso);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}
.proceso.size5 > .info-izq span::after {
  content: "163840";
}
.proceso.size5 > .info-izq::after {
  content: "0\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...\a...";
  display: block;
  height: calc(5 * 50px - 0.5rem);
  overflow: hidden;
  white-space: pre;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.proceso.size5 .nombre-proceso {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.proceso.size5 .nombre-proceso p {
  text-align: center;
}
.proceso.size5::after {
  content: "5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}

.contenedor-particiones {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}
.contenedor-particiones .button-container {
  text-align: center;
  width: 100%;
  padding: 1rem;
}
.contenedor-particiones .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.contenedor-particiones button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}
.contenedor-particiones .fondo {
  background-color: var(--color-contenedor);
  border-radius: var(--border-radius);
  border: 2px solid black;
}

.mi_memoria {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5rem;
  padding: 2rem;
  padding-left: 4rem;
}
.mi_memoria .proceso {
  border-color: var(--color-proceso-add);
}
.mi_memoria .particion {
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-particion);
}
.mi_memoria .particion.size1 {
  position: relative;
  height: calc(1 * 50px);
}
.mi_memoria .particion.size1 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: auto;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size1 .pestana-derecha::after {
  content: "1MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size1 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size1 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size1 > .info-izq::after {
  content: attr(data-size);
  display: block;
  height: calc(1 * 50px);
  overflow: hidden;
  white-space: pre;
  font-size: 0.8rem;
}
.mi_memoria .particion.size1 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
  /* &::after {
    content: "32768"; //calculo de bits este contenido estara en el span
  } */
}
.mi_memoria .particion.size2 {
  position: relative;
  height: calc(2 * 50px);
}
.mi_memoria .particion.size2 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: auto;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size2 .pestana-derecha::after {
  content: "2MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size2 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size2 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size2 > .info-izq::after {
  content: attr(data-size);
  display: block;
  height: calc(2 * 50px);
  overflow: hidden;
  white-space: pre;
  font-size: 0.8rem;
}
.mi_memoria .particion.size2 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
  /* &::after {
    content: "65536"; //calculo de bits este contenido estara en el span
  } */
}
.mi_memoria .particion.size3 {
  position: relative;
  height: calc(3 * 50px);
}
.mi_memoria .particion.size3 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: auto;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size3 .pestana-derecha::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size3 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size3 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size3 > .info-izq::after {
  content: attr(data-size);
  display: block;
  height: calc(3 * 50px);
  overflow: hidden;
  white-space: pre;
  font-size: 0.8rem;
}
.mi_memoria .particion.size3 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
  /* &::after {
    content: "98304"; //calculo de bits este contenido estara en el span
  } */
}
.mi_memoria .particion.size4 {
  position: relative;
  height: calc(4 * 50px);
}
.mi_memoria .particion.size4 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: auto;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size4 .pestana-derecha::after {
  content: "4MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size4 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size4 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size4 > .info-izq::after {
  content: attr(data-size);
  display: block;
  height: calc(4 * 50px);
  overflow: hidden;
  white-space: pre;
  font-size: 0.8rem;
}
.mi_memoria .particion.size4 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
  /* &::after {
    content: "131072"; //calculo de bits este contenido estara en el span
  } */
}
.mi_memoria .particion.size5 {
  position: relative;
  height: calc(5 * 50px);
}
.mi_memoria .particion.size5 .pestana-derecha {
  position: absolute;
  left: 100%;
  width: 2rem;
  top: auto;
  height: 3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  border: 2px solid black;
  background-color: var(--color-botones);
  writing-mode: vertical-rl;
}
.mi_memoria .particion.size5 .pestana-derecha::after {
  content: "5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0.4rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size5 > .info-izq {
  position: relative;
}
.mi_memoria .particion.size5 > .info-izq.fuera {
  position: absolute;
  left: -3rem;
}
.mi_memoria .particion.size5 > .info-izq::after {
  content: attr(data-size);
  display: block;
  height: calc(5 * 50px);
  overflow: hidden;
  white-space: pre;
  font-size: 0.8rem;
}
.mi_memoria .particion.size5 > .info-izq span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  background-color: var(--color-contenedor);
  border-radius: 0.3rem;
  /* &::after {
    content: "163840"; //calculo de bits este contenido estara en el span
  } */
}

table.algoritmo {
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
table.algoritmo th,
table.algoritmo td {
  margin: 0;
  padding: 0.5rem;
  width: 2rem;
  border: 2px solid black;
  text-align: center;
}
table.algoritmo tr {
  padding: 0;
}

table.datos {
  border: 2px solid black;
  padding: 0;
  border-collapse: collapse;
  font-size: 1rem;
}
table.datos th,
table.datos td {
  margin: 0;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  text-align: center;
}
table.datos tr {
  padding: 0;
}

.container-principal {
  position: relative;
  padding: 1rem;
  width: 100%;
}
.container-principal .button-container {
  padding: 0.5rem;
  text-align: right;
  width: 100%;
}
.container-principal .button {
  border-radius: var(--border-radius);
  border: rgb(20, 20, 20) solid 2px;
  background-color: var(--color-botones);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.container-principal .button:hover {
  background-color: var(--color-hover);
  transform: scale(1.1);
}
.container-principal .container-datos {
  padding: 1rem;
  position: absolute;
  top: 6rem;
  left: 6rem;
}
.container-principal .container-datos button {
  width: 100%;
}
.container-principal .container-algoritmos {
  position: absolute;
  padding: 1rem;
  left: 40rem;
}

.alerta {
  padding: 2rem;
  margin: 2rem;
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: aqua;
  border: 2px solid;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 300;
  transform: scale(0);
}

.alerta-animacion {
  animation-name: entrada;
  animation-duration: 4s;
}/*# sourceMappingURL=mis_estilos.css.map */