@charset "UTF-8";
:root {
  --size_memmory:30% ;
}

.titulo {
  text-align: center;
  padding: 0.5rem;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.contenedor-procesos {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.procesos_preparados {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 0.5rem;
  background-color: coral;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1rem;
}
.procesos_preparados .particion {
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: 8px;
  background-color: lightyellow;
  overflow: hidden;
}
.procesos_preparados .particion .info-izq {
  position: absolute;
  left: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.procesos_preparados .particion .info-izq .numero-direccion {
  position: absolute;
  z-index: -1;
}
.procesos_preparados .particion .nombre-proceso {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
}
.procesos_preparados .particion.size1 {
  position: relative;
  height: calc(1 * 1.5rem);
}
.procesos_preparados .particion.size1::after {
  content: "1.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.procesos_preparados .particion.size2 {
  position: relative;
  height: calc(2 * 1.5rem);
}
.procesos_preparados .particion.size2::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.procesos_preparados .particion.size3 {
  position: relative;
  height: calc(3 * 1.5rem);
}
.procesos_preparados .particion.size3::after {
  content: "4.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.procesos_preparados .particion.size4 {
  position: relative;
  height: calc(4 * 1.5rem);
}
.procesos_preparados .particion.size4::after {
  content: "6MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.procesos_preparados .particion.size5 {
  position: relative;
  height: calc(5 * 1.5rem);
}
.procesos_preparados .particion.size5::after {
  content: "7.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}

.contenedor-particiones {
  width: var(--size_memmory);
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.mi_memoria {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 0.5rem;
  background-color: coral;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1rem;
}
.mi_memoria .pestaña-lateral {
  position: absolute;
  right: -60px;
  width: 40px;
  border-radius: 0.2rem;
  border: 2px solid black;
  background-color: aquamarine;
  padding: 0.5rem;
  writing-mode: vertical-rl;
  display: flex;
}
.mi_memoria .particion {
  border: rgb(20, 20, 20) solid 2px;
  width: 100%;
  border-radius: 8px;
  background-color: lightyellow;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}
.mi_memoria .particion .info-izq {
  position: absolute;
  left: 0.2rem;
  display: flex;
  justify-content: space-around;
}
.mi_memoria .particion .info-izq .numero-direccion {
  position: absolute;
  z-index: 2;
}
.mi_memoria .particion .nombre-proceso {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
}
.mi_memoria .particion.size1 {
  position: relative;
  height: calc(1 * 1.5rem);
}
.mi_memoria .particion.size1::after {
  content: "1.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size2 {
  position: relative;
  height: calc(2 * 1.5rem);
}
.mi_memoria .particion.size2::after {
  content: "3MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size3 {
  position: relative;
  height: calc(3 * 1.5rem);
}
.mi_memoria .particion.size3::after {
  content: "4.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size4 {
  position: relative;
  height: calc(4 * 1.5rem);
}
.mi_memoria .particion.size4::after {
  content: "6MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.mi_memoria .particion.size5 {
  position: relative;
  height: calc(5 * 1.5rem);
}
.mi_memoria .particion.size5::after {
  content: "7.5MB";
  position: absolute;
  padding: 0.2rem;
  right: 0.2rem;
  top: 0rem;
  font-size: 0.8rem;
}
.mi_memoria .particion::after {
  position: relative;
  right: -190px;
  width: 40px;
  border-radius: 0.2rem;
  border: 2px solid black;
  background-color: aquamarine;
  padding: 0.5rem;
  writing-mode: vertical-rl;
}/*# sourceMappingURL=mis_estilos.css.map */